# default owner
*                          @v1tharr

# infra & native
/.github/                  @v1tharr
/src-tauri/                @v1tharr
# back
/backend/                  @v1tharr @Kazmech-cmd @honseymo

# front
/src/                      @plynd @Gyroballthrower